{% extends 'base.html' %}

{% block body %}
    <h1>Welcome to HIKE MAP - A project by Oakland Technical High School students </h1> 
    
    <h2 class="t1">Our mission</h2>
    <h3 class="under1">We aspire to provide easy fast servies/information for those want to Hike in the National Parks of California</h3>

    <div class="imgimg">
       <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/082b0f67784535.5b460d9c1c634.jpg" height="400" width="400"> 
    </div>

    <h2 class="t2">Our story</h2>
    <h3 class="under2">Our shared love for national parks, is the reason why we set out to create a website
        about trails; However their are dangers, weather conditions and other factors poeple overlook. 
        Our goals as an team is provide updated information to the trail of their liking, in an easy, freindly format anyone can use</h3>
{% endblock %}