{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Hikes</h1>
    </div>
    <div class="col">
        <a href="/hike/new" class="btn btn-primary btn-sm mt-5" role="button">New Hike</a>
    </div>
</div>

{% if hikes %}
    {% for hike in hikes %}
        <div class="row border">
            <div class="col-1 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5"></h3>
                {% endif %}

                <a href="/hike/delete/{{hike.id}}">
                    <img width="25" class="bottom-image" src="/static/delete.png">
                </a>
                <a href="/hike/edit/{{hike.id}}">
                    <img width="25" class="bottom-image" src="/static/edit.png">
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5">Date</h3>
                {% endif %}

                <a href="/hike/{{hike.id}}">
                    {{moment(hike.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Name</h3>
                {% endif %}
                {{hike.name}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Address</h3>
                {% endif %}
                {{hike.streetAddress}} <br>
                {{hike.city}}, {{hike.sate}}  {{hike.zip}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Description</h3>
                {% endif %}
                {{hike.description}}
            </div>
            <div class="col-3 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">lat/lon</h3>
                {% endif %}
                {{hike.lat}}/{{hike.lon}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Hikes</h1>
{% endif %}

{% endblock %}