<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Hello World!</h1>
<br><br><br>
from tkinter impport

</body>
<h1 class="titles">My Profile Page</h1>
<div class="imgimg">
   <img src="https://wallpapers.com/images/hd/hiking-on-foggy-mountain-g7bz0k4c45e2zmgt.jpg"height="200" width="400">
</div> 


   
   <h2 class="titles">Name</h2> <p></p>
   <p class="sub">Bob</p>
   
   <h2 class="titles">Age</h2> <p></p>
   <p class="sub">35 in dog years</p>
   
   <h2 class="titles">Favorite Food</h2> <p></p>
   <p class="sub">Strawberries</p>
   
   <h2 class="titles">Adress</h2> <p></p>
   <p class="sub"> Doggy Street</p>
 
{% endblock %}