<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Hello World!</h1>
<br><br><br>

<h1 class="titles">My Profile Page</h1>
<div class="imgimg">
   <img src="https://images.theconversation.com/files/625056/original/file-20241010-19-5h51ab.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=1000&fit=clip" height="200" width="400">
</div> 
   
   <h2 class="titles">Name</h2> <p></p>
   <p class="sub">Bob</p>
   
   <h2 class="titles">Age</h2> <p></p>
   <p class="sub">35 in dog years</p>
   
   <h2 class="titles">Favorite Food</h2> <p></p>
   <p class="sub">Strawberries</p>
   
   <h2 class="titles">Adress</h2> <p></p>
   <p class="sub">550 Doggy Street</p>
{% endblock %}